/* Initially hide the additional content */
.hidden-content {
  display: none;
}

/* Define the hover effect */
.card:hover .hidden-content {
  display: block;
  display: flex;
  /* Horizontally center */
  justify-content: center;
  /* Vertically center */
  align-items: center;
  /* Black background with 50% opacity */
  background-color: rgba(0, 0, 0, 0.5); 
}

